<app-card
  [title]="'Item list'"
  (createdItem)="showCreationDialog()"
  [isActions]="true"
>
  <ng-container *ngIf="apolloService.items$ | async as items">
    <app-table
      [data]="items"
      *ngIf="items.length else noData"
      (removedItem)="removeItem($event)"
    ></app-table>

    <ng-template #noData>
      Click on the button "Create" for creating a new item.
    </ng-template>

  </ng-container>
</app-card>
