<mat-card>
  <mat-card-header>
    <mat-card-title>{{title | titlecase}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-actions *ngIf="isActions">
    <button mat-raised-button
            color="primary"
            (click)="createdItem.emit(true)"
    >
      Create
    </button>
  </mat-card-actions>
</mat-card>
