<app-card [title]="'New item'" [isActions]="false">
  <form [formGroup]="form" novalidate>
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="types">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="type.key"
                    *ngFor="let type of types"
        >
          {{type.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            [mat-dialog-close]="form.value"
    >
      Create
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
      Cancel
    </button>
  </form>
</app-card>
