* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-card-header-text {
  margin: 0 !important;
}
